{% extends 'base.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_div}}
            <input type="submit" class="btn btn-success" value="Войти">
        </form>
<br>
        <br>
        <a class="btn btn-warning" href="{% url 'regis' %}">Зарегистрироваться</a>
        <a class="btn btn-secondary" href="{% url 'index_pizza' %}">Назад</a>
    </div>
{% endblock %}
