{% extends 'base.html' %}

{% block title %}
    Pizzeria - cheerful pizzaiolo
{% endblock %}
{% block content %}

    <div class="d-flex justify-content-center py-3">
<h1> Привет, ты на сайте "Весёлый пиццайоло"</h1>
    </div>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/"><h3>Здесь самые вкусные пиццы</h3></a><br>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/?id=2&name=PASTA"><h3>Немного итальянской пасты</h3></a><br>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/?id=2&name=PASTA"><h3>А тут не только кофе</h3></a><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<h1> This text show to static</h1>

{% endblock %}


{#<div>#}
{#    <p>Отправить данные на страницу пицц METHOD GET</p>#}
{#<form action="/pizza/pizza_list/" method="get">#}
{#    {% csrf_token %}#}
{#    <label>ID</label> <input type="number" name="id" id="id" placeholder="поле id"><br>#}
{#    <label>Name</label> <input type="text" name="id" id="name" placeholder="поле name"><br>#}
{#    <input type="submit" value="Отправить данные">#}
{#</form>#}
{#</div>#}
{##}
{#<div>#}
{#    <p>Отправить данные на страницу пицц METHOD POST</p>#}
{#<form action="/pizza/pizza_list/" method="post">#}
{#    {% csrf_token %}#}
{#    <label>ID</label> <input type="number" name="id" id="id" placeholder="поле id"><br>#}
{#    <label>Name</label> <input type="text" name="id" id="name" placeholder="поле name"><br>#}
{#    <input type="submit" value="Отправить данные">#}
{#</form>#}
{#</div>#}
