{% extends 'base.html' %}

{% block title %}
    Pizzeria - cheerful pizzaiolo
{% endblock %}
{% block content %}

    <div class="d-flex justify-content-center py-3">
<h1> Привет, ты на сайте "Весёлый пиццайоло"</h1>
    </div>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/"><h3>Здесь самые вкусные пиццы</h3></a><br>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/?id=2&name=PASTA"><h3>Немного итальянской пасты</h3></a><br>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/?id=2&name=PASTA"><h3>А тут не только кофе</h3></a><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<h1> This text show to static</h1>

{% endblock %}


