{% extends 'base.html' %}

{% block title %}
    Pizzeria - fun pizzaiolo
{% endblock %}
{% block content %}



<h1>Hello, I am a fun pizzaiolo.</h1>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/"><h2>List of the best pizzas</h2></a><br>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/?id=2&name=PASTA"><h2>PASTA</h2></a><br>
    <br>
    <a class="btn btn-success" href="/pizza/pizza_list/?id=2&name=PASTA"><h2>COFFEE</h2></a>


<h1> This text show to static</h1>

{% endblock %}


{#<div>#}
{#    <p>Отправить данные на страницу пицц METHOD GET</p>#}
{#<form action="/pizza/pizza_list/" method="get">#}
{#    {% csrf_token %}#}
{#    <label>ID</label> <input type="number" name="id" id="id" placeholder="поле id"><br>#}
{#    <label>Name</label> <input type="text" name="id" id="name" placeholder="поле name"><br>#}
{#    <input type="submit" value="Отправить данные">#}
{#</form>#}
{#</div>#}
{##}
{#<div>#}
{#    <p>Отправить данные на страницу пицц METHOD POST</p>#}
{#<form action="/pizza/pizza_list/" method="post">#}
{#    {% csrf_token %}#}
{#    <label>ID</label> <input type="number" name="id" id="id" placeholder="поле id"><br>#}
{#    <label>Name</label> <input type="text" name="id" id="name" placeholder="поле name"><br>#}
{#    <input type="submit" value="Отправить данные">#}
{#</form>#}
{#</div>#}
