{% extends 'base.html' %}

{% block title %}
    {{ pizza_item.name }}
{% endblock %}

{% block content %}
    <p><b>Наименование:</b> {{ pizza_item.name }}</p>
    <p><b>Описание:</b> {{ pizza_item.description }}</p>
    <p><b>Цена:</b> {{ pizza_item.price }}</p>
    <p><b>Дата создания:</b> {{ pizza_item.date_create }}</p>
    <p><b>Дата обновления:</b> {{ pizza_item.date_update }}</p>
    <p><b>Фото:</b> <img src=" {{ pizza_item.photo.url }}"  alt="..."></p>

    <div class="d-flex justify-content-center py-3">
    <form method="post" action="{% url 'add_basket_prod' pizza_item.pk %}">
        {% csrf_token %}
        {{ basket_form }}
        <input type="submit" class="btn btn-success" value="Добавить в корзину">
    </form>

    </div>

<a href="{% url 'list_pizza' %}" class="btn btn-secondary">Назад</a>
<a href="{% url 'pizza_delete' pizza_item.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'pizza_edit' pizza_item.pk %}" class="btn btn-danger">Изменить пиццу</a>
{% endblock %}