{%  extends 'base.html' %}
{%  load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css' %}">

{% endblock %}

{% block content %}
    <div>

        <h1>Список вкуснейших пицц</h1>

        <div class="d-flex justify-content-center py-3">
        <div>
            {% for item in page_obj %}
                <div class="card" style="width: 18rem;">
                    {% if item.photo != '' %}
                        <img src=" {{ item.photo.url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src=" {% static "/image/Ooops.jpeg" %}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name}}</h5>
                        {# <p class="card-text">{{ item.description }}</p> #}
                        <p class="card-text">{{ item.date_create|date:'Y-m-d'}}</p>
                        <a href="{% url 'one_pizza' item.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>

        <div class="container">
            <div class="row align-items-center"></div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </nav>

        </div>
    </div>
{% endblock %}
